html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(:"https://github.com/Katanaco/jonathancschmitt.com/blob/master/images/print1.jpg");
  color: #c992ce;
  text-shadow: 0 1px #000000;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
	padding: 5px;
  text-align: center;
  font-size: 2.6rem;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #000000;
  max-width: 15%;
  min-width: 140px;
  color: #FFFFFF;
  flex: 1;
}

.nav h1 {
  padding-left: 10px;
}
