html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #000000;
}

h1 {
  color: rgba(158, 209, 190, 0.85);
  padding-top: 80px;
  font-size: 64px;
  text-align: center;
  box-shadow: 5px 10px rgba(158, 209, 190, 0.7);
  text-shadow: 1px 2px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  color: rgba(100,50,50, .7);
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px (rgba(255,255,255,0.4));
}

h4 {
  color: #19bcb8;
  text-align: center;
  font-size: 28px;
  text-shadow: 1px 1px (rgba(255,255,255,0.3));
}

p {
  color: #19bcb8;
}

div {
  height: 100%;
  width: 100%;
}

.aboutme {
  height: 800px;
  width: -webkit-fill-available;
  width: -mox-available;
  overflow: no-content;
  background-image: url('images/back1.png');
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
  color: rgb(210,140,130);
  text-shadow: 1px 2px rgba(255,255,255,.4);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
}

.aboutme h2 {
  font-size: 40px;
  text-align: center;
}

.aboutme p {
  font-size: 24px;
  text-align: left;
  color: rgba(62,72,49,.9);
}

.aboutme p right {
  float: right;
  color: rgba(60,120,110,1);
}

h2 {
  text-align: center;
  font-size: 40px;
}

.parallax1 {
  background-image: url('images/para.jpg');
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('images/para2.jpg');
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  padding-right: 30px;
  min-width: 75%;
}

.nav {
  color: #FFFFFF;
  flex: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404745;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}
